.DS_Store
README.md

composer.phar
composer.phar /vendor/
composer.json
composer.lock
vendor
schemas/
yarn.lock
static/

node_modules/
.npmignore
sanity.json
plugins/
config/
package.json
package-lock.json
tsconfig.json
.eslintrc

sanity/project-id.php

build
tests/phpunit.xml
test.php
.lintcache
docs/_build
*.sublime-workspace
clover.xml
/coverage

